
.container-narrow {margin-left: 50px;margin-right: 50px;margin-bottom:0px;}
#content {background-color:white;
            overflow-y: auto;}
#footer {background-color:black;}
.navbar-fixed-bottom {margin-right:25px;}
body {background: url(14557-NPQ2K8.jpg);height:100%;}
h1 {
    text-align: center;
    text-shadow: 3px 2px 1px #ccc;
}
h4 {
    text-align: center;
}
h1, h2, h3, h4, h5, h6 {
     font-family: 'Corben', Georgia, Times, serif;
}
p, div {
    font-family: 'Cardo', Georgia, Times, serif;
}

#header-col {background-color:aquamarine;
            border-bottom: 1px solid black}

/*Nav Bar*/
#nav-col {background-Color:white;
          height:auto;
    border-bottom: 1px solid black;}

/*Content Area*/
#content-sidebar {background-color:lightslategray;
                    max-height: 200px;
                    overflow-y:scroll;
                    margin-top: 10px}
#content-sidebar-image {max-height:200px;
                        margin-top:10px;}
#class-well 

/*Announcment Area*/
#announcments {background-color: cornsilk;
    box-shadow: 10px 10px 5px #888888;
    padding-top:5px
            }
/*Nav Bar*/
footer {background-color: black;margin-bottom:0px;}
#designed-by {margin-left:5px;}
